In [71]:
import numpy as np

Ejercicios de estructuras de datos con Python.
### Objetivos
* Creación y acceso a listas en python.
* Creación y acceso a tuples en python.
* Uso de los métodos python.
* Creación y acceso a sets y diccionarios en python.

# Ejercicio 1
Crea una lista que agrupe los meses del año en trimestres (1T: enero, febrero y marzo; 2T: abril, mayo, junio...), es decir, una lista con 4 listas dentro.

# Solución

In [96]:
list=[['enero','febrero','marzo'],
      ['abril','mayo','junio'],
      ['julio','agosto','septiembre'],
      ['octubre','noviembre','diciembre']]
print(list)

[['enero', 'febrero', 'marzo'], ['abril', 'mayo', 'junio'], ['julio', 'agosto', 'septiembre'], ['octubre', 'noviembre', 'diciembre']]

##  Ejercicio 2
Crea un código que te permita acceder a:

* El segundo mes del primer trimestre.
* Los meses del primer trimestre.
* Septiembre y octubre.

# Solución

In [97]:
print('1. El segundo mes del primer trimestre es:',list[0][1],'\n')
print('2. Los meses del primer trimestre son:',list[0],'\n')
print('3.',list[2][2],' y ', list[3][0])

1. El segundo mes del primer trimestre es: febrero

2. Los meses del primer trimestre son: ['enero', 'febrero', 'marzo']

3. septiembre  y  octubre

## Ejercicio 3
Crea una lista con números desordenados y responde a las siguientes preguntas:

1. Cuántos números hay?
2. Cuántas veces aparece el número 3.
3. Cuántas veces aparecen los números 3 y 4?
4. Cuál es el número más grande?
5. Cuáles son los 3 números más pequeños?
6. Cuál es el rango de esta lista?

# Solución

In [104]:
list_rand= np.random.randint(1,13,23)
print(list_rand)

[ 1  4 10  8 12  9  1 12  5  4  9 10 10  3  1 12  7  4  4  5 11  8  6]

In [105]:
print('1. La cantidad de números es:',len(list_rand),'\n')
print('2. El tres aparece',np.count_nonzero(list_rand==3),'veces\n')
print('3. El tres aparece',np.count_nonzero(list_rand==3),' veces y el cuatro',np.count_nonzero(list_rand==4),'veces\n')
print('4. El números mas grande es:',np.max(list_rand),'\n')
print('5. Los 3 números más pequeños son: ' , str(sorted(list_rand)[:3]),'\n')
print('6. El rango de la lista es de: ' + str(min(list_rand)) + ' a ' + str(max(list_rand)))

1. La cantidad de números es: 23

2. El tres aparece 1 veces

3. El tres aparece 1  veces y el cuatro 4 veces

4. El números mas grande es: 12

5. Los 3 números más pequeños son:  [1, 1, 1]

6. El rango de la lista es de: 1 a 12

## Ejercicio 4
Crea un diccionario de la siguiente forma y responde a las preguntas:

1. compra = { "Manzanas" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
2. Añade alguna fruta más
3. Cuánto han costado las peras en total?
4. Cuántas frutas hemos comprado en total?
5. Cuál es la fruta más cara?

# Solución

1. Crear el diccionario **compra**

In [106]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
compra

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}}

2. Añade alguna fruta más

In [107]:
compra['fresas']={"Qty": 4, "€": 0.5}
compra

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'fresas': {'Qty': 4, '€': 0.5}}

3. Cuánto han costado las peras en total?

In [108]:
total_peras = compra["Peres"]["Qty"] * compra["Peres"]["€"]
print('Las peras han costado en total:', total_peres,'€')

Las peras han costado en total: 1.98 €

4. Cuántas frutas hemos comprado en total?

In [109]:
sum=0
for i in compra:
    print(i,'=',compra.get(i).get('Qty'))
    sum += compra.get(i).get('Qty')
print('-----------')    
print('Hemos comprado en total',sum, 'frutas.')

Pomes = 5
Peres = 3
fresas = 4
-----------
Hemos comprado en total 12 frutas.

5. Cuál es la fruta más cara?

In [111]:
price=0
fruit=''
for key,value in compra.items():
    if value['€']>price:
        price=value['€']
        fruit=key
print('La fruta más cara son las ',fruit,' a ',price,'€')

La fruta más cara son las  Peres  a  0.66 €